
body {
  --ekstra-blue: hsla(209, 100%, 37%, 1.0);
  --ekstra-green: hsla(128, 47%, 53%, 1.0);

  font-family: 'Sora', sans-serif;
  font-weight: 100;
  font-size: 16pt;
}

p {
  font-weight: 200;
}

#comparison {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: top;
  justify-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#comparison > div {
  border: 1px solid gray;
  border-radius: .4rem;
}

#comparison h1 {
  margin: 0;
  text-align: center;
  background-color: gray;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
  padding: 1rem 0 1rem 0;
  border-radius: .4rem .4rem 0 0;

}

#comparison div:first-of-type h1 {
  background-color: var(--ekstra-blue);
}

#comparison div:last-of-type h1 {
  background-color: var(--ekstra-green);
}

#comparison li {
  padding: .5rem 0 .5rem 0;
}

#roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: top;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;

}

#roles h1 {
  font-size: .8em;
}
h1, h2 {
  color: var(--ekstra-blue);
}

h3 {
  color: var(--ekstra-green);
}

div .partner {
  display: grid;
  grid-template-columns: 5rem auto;
  grid-gap: 0;
  align-items: center;
  justify-items: center;
}

div.head-banner {
  background-color: var(--ekstra-blue);
  width: 102vw;
  padding: 0px;
  margin: -1rem -1rem 0rem -1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

div.head-banner img {
  height: 70px;
  width: auto;
  margin: 12rem auto 0 0rem;
  padding: 0;
}

div.head-banner h2 {
  margin: 0 auto 0 0rem; 
  color: white;
  font-weight: 200;
}
div.head-banner h3 {
  margin: 0 auto 0 0rem; 
  padding: 0 0 12rem 0;
  color: white;
  font-weight: 200;

}
div.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

blockquote {
  font-style: italic;
  font-size: 2rem;
  color: white;
  padding: 4rem;
  border-radius: 2rem 2rem 2rem 2rem;
  }

blockquote:before {
  content: "\201C";
}

blockquote:after {
  content: "\201D";
}

blockquote:nth-of-type(odd) {
  background-color: #b2ff59;
  color: var(--ekstra-blue);
}
blockquote:nth-of-type(even) {
  background-color: skyblue;
}

button {
  font-family: 'Sora', sans-serif;
  letter-spacing: .03em;
  font-weight: 600;
  font-size: 2.5rem;
  padding: .6em 1.2em .6em 1.2em;
  background-color: var(--ekstra-green);
  border: none;
  border-radius: .5em;
  color: white;
  box-shadow: 0 .075em .25em black; /* x y blur color */

}